@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #305baa, #72b2fc);
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

.title{
      background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 20%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 25px rgba(0, 0, 0, .4);
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  color: #333;
}

.inf{
      background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 60%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 25px rgba(0, 0, 0, .4);
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  color: #333;
}




.navbar {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  height: 100%;
  width: 60px;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.4s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  z-index: 1000;
}

.navbar a {
  color: rgba(29, 59, 114, 0.8);
  text-decoration: none;
  margin: 15px 0;
  font-size: 14px;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}


.navbar.expanded {
  width: 250px;
  align-items: flex-start;
  padding: 60px 20px;
}


.navbar.expanded ~ .index-box,
.navbar.expanded ~ .desc {
  display: none;
}

.navbar.expanded a {
  opacity: 1;
  pointer-events: auto;
  color: #222;
  font-size: 16px;
  text-transform: uppercase;
}

.navbar.expanded a:hover {
  color: rgba(29, 59, 114, 0.8);
  letter-spacing: 2px;
}


.btn-expand {
  position: absolute;
  background-color: #1d3b72;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  top: 50%;
  right: -20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease;
}

.btn-expand:hover {
  background-color: #3f77d0;
  transform: scale(1.1);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -60%); }
  to { opacity: 1; transform: translate(-50%, -50%); }
}

@keyframes slideDown {
  from { opacity: 0; transform: translate(-50%, -70%); }
  to { opacity: 1; transform: translate(-50%, -50%); }
}